oslo.config>=4.8.0
os_vif>=1.15.1
oslo_concurrency>=3.29.1
oslo_config>=6.8.1
oslo.i18n>=3.23.1
oslo_log>=3.42.3
oslo_privsep>=1.32.1
oslo.utils>=3.40.3
git+https://github.com/6WIND/fp-vdev-remote.git#egg=fp-vdev-remote
